<nav class="flex flex-col">
  <div class="flex items-center justify-center mt-4">
    <div class="flex flex-col items-center">
      <div class="flex flex-col items-center justify-center">
        <img
          class="w-[100px]"
          src="https://cdn.worldvectorlogo.com/logos/firefox-monitor.svg"
          alt="logo"
        />
        <h2 class="text-center text-black text-2xl font-bold">MARKET TRACE</h2>
      </div>
    </div>
  </div>
  <ul class="flex flex-col items-center gap-3 mt-4">
    <li class="w-60 h-8 rounded flex items-center group hover:bg-blue-600">
      <img
        class="mr-2.5 ml-4 group-hover:invert group-hover:brightness-0 transition ease-in-out"
        src="assets/icons/gear-fill.svg"
        alt="icon"
      />
      <span
        class="group-hover:text-white rounded-[10px] text-gray-600 font-semibold transition ease-in-out delay-100"
      >
        Настройки
      </span>
    </li>
    <li class="w-60 h-8 rounded flex items-center group hover:bg-blue-600">
      <img
        class="mr-2.5 ml-4 group-hover:invert group-hover:brightness-0 transition ease-in-out"
        src="assets/icons/bar-chart-fill.svg"
        alt="icon"
      />
      <span
        class="group-hover:text-white rounded-[10px] text-gray-600 font-semibold transition ease-in-out delay-100"
        >Мониторинг позиций</span
      >
    </li>

    <li class="w-60 h-8 rounded flex items-center group hover:bg-blue-600">
      <img
        class="mr-2.5 ml-4 group-hover:invert group-hover:brightness-0 transition ease-in-out"
        src="assets/icons/bug-fill.svg"
        alt="icon"
      />
      <span
        class="group-hover:text-white rounded-[10px] text-gray-600 font-semibold transition ease-in-out delay-100"
        >А/B тестирование</span
      >
    </li>
  </ul>
</nav>
