<header
  class="bg-slate-50 rounded-[10px] mt-3 mr-5 shadow-lg shadow-black-500/50 border"
>
  <div class="flex-row">
    <div class="flex items-center justify-between p-4">
      <input
        class="border rounded p-2 w-50 mx-3 font-semibold"
        type="text"
        placeholder="Найти на сайте..."
      />
      <div
        class="lg:flex lg:flex-row flex-col items-center justify-center lg:gap-3"
      >
        <img
          class="w-full h-14 lg:h-15"
          src="assets/Image/user.svg"
          alt="avatar"
        />
        <div class="flex flex-col items-center justify-center">
          <span class="text-sm">{{ userName }}</span>
          <a
            href="#"
            class="hover:text-blue-600 text-center whitespace-nowrap transpa"
            >Мой профиль</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
