.checkbox {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    border: 2px solid #0660FE;
    box-sizing: border-box;
    background: #0660FE;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    user-select: none;
    color: white;
    font-size: 17px;
    text-align: center;
    margin-top: 3.5px;
}

.checkbox::after {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    line-height: 10px;
}

.checkbox-state-0 {
    background: white;
    border-color: #838383;
}

.checkbox-state-1::after {
    margin-top: 1px;
    content: "✓";
}

.checkbox-state-2::after {
    content: "-";
}